@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1118 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #ffffff;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1118 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1118 img {
  max-width: 100%;
  position: relative;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
figure.snip1118 h3 {
  position: absolute;
  left: 0;
  color: #ffffff;
  top: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  padding: 12px 15px;
  width: 100%;
  margin: 0;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 400;
  background: #000000;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1118 h3 span {
  font-weight: 800;
}
figure.snip1118 > div {
  width: 100%;
  bottom: 0;
  position: absolute;
  padding: 8px 12px;
  background: #000000;
  text-align: right;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1118 > div a i {
  font-size: 24px;
  color: #ffffff;
  padding: 0px 8px;
  position: relative;
  bottom: -60px;
}
figure.snip1118 a {
  opacity: 0.8;
  -webkit-transition-property: none;
  transition-property: none;
}
figure.snip1118 a:hover {
  opacity: 1;
}
figure.snip1118.blue h3 {
  background: #20638f;
}
figure.snip1118.blue > div {
  background-color: #20638f;
}

figure.snip1118:hover img,
figure.snip1118.hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.snip1118:hover h3,
figure.snip1118.hover h3 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
figure.snip1118:hover > div,
figure.snip1118.hover > div {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip1118:hover > div a i,
figure.snip1118.hover > div a i {
  bottom: 0;
}
figure.snip1118:hover a:first-child i,
figure.snip1118.hover a:first-child i {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip1118:hover a:nth-child(2) i,
figure.snip1118.hover a:nth-child(2) i {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
figure.snip1118:hover a:nth-child(3) i,
figure.snip1118.hover a:nth-child(3) i {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}


/* Demo purposes only */
html {
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}